USE [master]
GO
/****** Object:  Database [dance_studio]    Script Date: 14.01.2026 23:39:51 ******/
CREATE DATABASE [dance_studio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dance_studio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dance_studio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dance_studio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dance_studio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dance_studio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dance_studio]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 14.01.2026 23:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[AttendanceID] [int] NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[IsPresent] [bit] NOT NULL,
	[DancerID] [int] NOT NULL,
	[TimetableID] [int] NOT NULL,
 CONSTRAINT [PK_Attendances] PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coaches]    Script Date: 14.01.2026 23:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coaches](
	[CoachID] [int] NOT NULL,
	[LastNameC] [nchar](25) NOT NULL,
	[FirstNameC] [nchar](25) NOT NULL,
	[SurnameC] [nchar](25) NOT NULL,
	[Speciality] [nchar](25) NOT NULL,
	[PhoneNumberC] [nchar](25) NOT NULL,
	[ProfStag] [decimal](15, 1) NOT NULL,
 CONSTRAINT [PK_Coaches] PRIMARY KEY CLUSTERED 
(
	[CoachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DancerGroup]    Script Date: 14.01.2026 23:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DancerGroup](
	[GroupID] [int] NOT NULL,
	[DancerID] [int] NOT NULL,
 CONSTRAINT [PK_DancerGroup] PRIMARY KEY CLUSTERED 
(
	[DancerID] ASC,
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dancers]    Script Date: 14.01.2026 23:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dancers](
	[DancerID] [int] NOT NULL,
	[LastName] [nchar](25) NOT NULL,
	[FirstName] [nchar](25) NOT NULL,
	[Surname] [nchar](30) NULL,
	[DateofBirthday] [date] NOT NULL,
	[PhoneNumber] [nvarchar](12) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dancers] PRIMARY KEY CLUSTERED 
(
	[DancerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 14.01.2026 23:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupID] [int] NOT NULL,
	[GroupName] [nchar](25) NOT NULL,
	[Level_gr] [nchar](25) NOT NULL,
	[CoachID] [int] NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pays]    Script Date: 14.01.2026 23:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pays](
	[PayID] [int] NOT NULL,
	[Sum] [int] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[PayDate] [date] NOT NULL,
	[Payend] [date] NULL,
	[DancerID] [int] NOT NULL,
 CONSTRAINT [PK_Pays] PRIMARY KEY CLUSTERED 
(
	[PayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timetables]    Script Date: 14.01.2026 23:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timetables](
	[TimetableID] [int] NOT NULL,
	[Dayofweek] [nchar](25) NOT NULL,
	[Time] [time](7) NOT NULL,
	[Duration] [decimal](15, 1) NOT NULL,
	[Hall] [int] NOT NULL,
	[Type] [nchar](25) NOT NULL,
	[CoachID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK_Timetables] PRIMARY KEY CLUSTERED 
(
	[TimetableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Attendances]    Script Date: 14.01.2026 23:39:52 ******/
CREATE NONCLUSTERED INDEX [IX_Attendances] ON [dbo].[Attendances]
(
	[DancerID] ASC
)
INCLUDE([TimetableID],[AttendanceDate],[IsPresent]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Attendances1]    Script Date: 14.01.2026 23:39:52 ******/
CREATE NONCLUSTERED INDEX [IX_Attendances1] ON [dbo].[Attendances]
(
	[TimetableID] ASC
)
INCLUDE([DancerID],[IsPresent]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Coaches]    Script Date: 14.01.2026 23:39:52 ******/
CREATE NONCLUSTERED INDEX [IX_Coaches] ON [dbo].[Coaches]
(
	[LastNameC] ASC,
	[FirstNameC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Dancers]    Script Date: 14.01.2026 23:39:52 ******/
CREATE NONCLUSTERED INDEX [IX_Dancers] ON [dbo].[Dancers]
(
	[LastName] ASC,
	[FirstName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Groups]    Script Date: 14.01.2026 23:39:52 ******/
CREATE NONCLUSTERED INDEX [IX_Groups] ON [dbo].[Groups]
(
	[CoachID] ASC
)
INCLUDE([GroupName],[Level_gr]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Timetables]    Script Date: 14.01.2026 23:39:52 ******/
CREATE NONCLUSTERED INDEX [IX_Timetables] ON [dbo].[Timetables]
(
	[CoachID] ASC
)
INCLUDE([Dayofweek]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Timetables1]    Script Date: 14.01.2026 23:39:52 ******/
CREATE NONCLUSTERED INDEX [IX_Timetables1] ON [dbo].[Timetables]
(
	[CoachID] ASC
)
INCLUDE([Dayofweek],[Time]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Dancers] FOREIGN KEY([DancerID])
REFERENCES [dbo].[Dancers] ([DancerID])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Dancers]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Timetables] FOREIGN KEY([TimetableID])
REFERENCES [dbo].[Timetables] ([TimetableID])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Timetables]
GO
ALTER TABLE [dbo].[DancerGroup]  WITH CHECK ADD  CONSTRAINT [FK_DancerGroup_Dancer] FOREIGN KEY([DancerID])
REFERENCES [dbo].[Dancers] ([DancerID])
GO
ALTER TABLE [dbo].[DancerGroup] CHECK CONSTRAINT [FK_DancerGroup_Dancer]
GO
ALTER TABLE [dbo].[DancerGroup]  WITH CHECK ADD  CONSTRAINT [FK_DancerGroup_Group] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[DancerGroup] CHECK CONSTRAINT [FK_DancerGroup_Group]
GO
ALTER TABLE [dbo].[Dancers]  WITH CHECK ADD  CONSTRAINT [FK_Dancers_Dancers] FOREIGN KEY([DancerID])
REFERENCES [dbo].[Dancers] ([DancerID])
GO
ALTER TABLE [dbo].[Dancers] CHECK CONSTRAINT [FK_Dancers_Dancers]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Coaches] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coaches] ([CoachID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Coaches]
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD  CONSTRAINT [FK_Timetables_Coaches] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coaches] ([CoachID])
GO
ALTER TABLE [dbo].[Timetables] CHECK CONSTRAINT [FK_Timetables_Coaches]
GO
/****** Object:  StoredProcedure [dbo].[CalculateSubscriptionEndDate]    Script Date: 14.01.2026 23:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Расчет даты окончания абонемента
CREATE PROCEDURE [dbo].[CalculateSubscriptionEndDate]
    @PaymentID INT,
    @Amount DECIMAL(10, 2),
    @PaymentDate DATE,
    @SubscriptionCost DECIMAL(10, 2) = 3000  -- Стоимость абонемента за месяц
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Рассчитываем количество полных месяцев
        DECLARE @Months INT;
        SET @Months = FLOOR(@Amount / @SubscriptionCost);
        
        -- Если внесено меньше стоимости одного месяца, ставим NULL
        DECLARE @EndDate DATE;
        IF @Months > 0
            SET @EndDate = DATEADD(MONTH, @Months, @PaymentDate);
        ELSE
            SET @EndDate = NULL;
        
        -- Обновляем запись в таблице Payments
        UPDATE Pay 
        SET Payend = @EndDate
        WHERE PayID = @PaymentID;
        
        -- Возвращаем результат
        SELECT 
            @PaymentID AS PaymentID,
            @Amount AS Amount,
            @PaymentDate AS PaymentDate,
            @EndDate AS EndDate,
            @Months AS MonthsPaid,
            CASE 
                WHEN @Months > 0 THEN 'Абонемент оформлен на ' + CAST(@Months AS VARCHAR) + ' месяц(ев)'
                ELSE 'Сумма недостаточна для оформления абонемента'
            END AS StatusMessage;
            
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAllSubscriptionEndDates]    Script Date: 14.01.2026 23:39:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Процедура для применения расчета ко всем новым платежам
CREATE PROCEDURE [dbo].[UpdateAllSubscriptionEndDates]
    @SubscriptionCost DECIMAL(10, 2) = 3000
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Для всех оплаченных платежей, у которых еще нет даты окончания
    UPDATE p
    SET p.Payend = 
        CASE 
            WHEN p.Sum >= @SubscriptionCost 
            THEN DATEADD(MONTH, FLOOR(p.Sum / @SubscriptionCost), p.Paydate)
            ELSE NULL
        END
    FROM Pay p
    WHERE p.IsPaid = 1 AND p.Payend IS NULL;
    
    SELECT @@ROWCOUNT AS UpdatedRowsCount;
END
GO
USE [master]
GO
